* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border-radius: 5px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.9);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffecd6;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffecd6;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffecd6;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffecd6;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffecd6;
}

#clock {
    color: #ffecd6;
    background-color: #183047;
    margin: 0 2px;
    padding: 0 10px;
}

#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mpd {
    padding: 0 10px;
    color: #000000;
}

#window,
#workspaces {
    margin: 0 4px;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
    margin: 0 2px;
}

#memory {
    background-color: #203c56;
    color: #ffecd6;
    margin: 0 2px;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
    margin: 0 2px;
}

#temperature {
    background-color: #f0932b;
    color: #ffecd6;
    margin: 0 2px;
}

#tray {
    background-color: #2980b9;
}