/* Tabs bar  */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";


/* Tabsbar buttons */
#TabsToolbar .toolbarbutton-1:not(#hack) {
	border-radius: 6px !important;
	margin: 5px 3px 6px !important;
	padding: 0 9px !important;
	min-height: 34px !important;
	transition: 0.3s;
}

/* Tab */
.tabbrowser-tab {
	border: 0 !important;
	padding: 5px 3px 6px !important;
	position: relative;
}
.tabbrowser-tab[first-visible-tab="true"]:not([pinned]){
	padding-left: 5px !important;
}
.tabbrowser-tab[last-visible-tab="true"] {
	padding-right: 5px !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}


/* Tab labels */
tab {
	color: var(--gnome-toolbar-color) !important;
	font-family: Cantarell, inherit;
	font-weight: normal;
	font-size: 1em;
}

/* Center all inside tab */
.tab-content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -1px;
	min-width: 100% !important;
	padding: 0 4px !important;
}

/* Prevent tab icons size breaking */
.tab-icon-image, .tab-icon-sound, .tab-throbber, .tab-throbber-fallback, .tab-close-button {
	min-width: 16px;
}

/* Center tab icon contents */
.tabbrowser-tab .tab-icon-stack {
	align-items: center;
	justify-items: center;
}

/* Adjust tab label width */
.tab-label-container {
	min-width: 0 !important;
}

/* Put tab close button to the right */
.tabbrowser-tab .tab-close-button {
	margin-left: auto !important;
}

/* Force tab favicon to the center */
.tabbrowser-tab:not([pinned]) .tab-icon-stack {
	margin-left: auto !important;
}

/* Hide favicon when mute icon is present */
.tabbrowser-tab:not([pinned]):is([soundplaying], [muted], [activemedia-blocked], [crashed]) .tab-icon-image:not([sharing]),
.tabbrowser-tab:not([pinned]):is([soundplaying], [muted], [activemedia-blocked], [crashed])[selected] .tab-icon-image {
	display: none;
}

/* Hide secondary label about muting */
.tabbrowser-tab:is([soundplaying], [muted], [activemedia-blocked], [crashed]) .tab-secondary-label {
	display: none;
}


/* Always show the muted icon when poresent */
#tabbrowser-tabs:not([secondarytext-unsupported]) .tabbrowser-tab:not(:hover) .tab-icon-overlay[indicator-replaces-favicon] {
	opacity: 1 !important;
}

/* Full width tabs */
.tabbrowser-tab:not([style^="max-width"]):not([pinned]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]) {
	max-width: 100% !important;
	--tab-min-width: 131px !important;
}
.tabbrowser-tab:not([style^="max-width"]):not([pinned]):not([fadein]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]):not([fadein]) {
	max-width: .1px !important;
}

/* Tabs manager menu */
#alltabs-button {
	visibility: collapse;
}
#tabbrowser-tabs[overflow="true"] ~ #alltabs-button {
	visibility: collapse;
}


/*#tabbrowser-tabs tab:only-of-type {
	display: none !important;
}*/


